@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Inter', sans-serif;
  background-color: white;
  color: black;
}

html {
  scroll-behavior: smooth;
}
.nav-link {
  position: relative;
  padding-bottom: 4px; /* so the underline doesn't touch the text */
  color: black;
  transition: color 0.15s;
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: #f7ac3c; /* Tailwind's pink-500 */
  transition: width 0.18s cubic-bezier(0.4,0,0.2,1);
}
.nav-link:hover {
  color: #f7ac3c; /* Make text pink on hover */
}
.nav-link:hover::after {
  width: 100%;
}
